[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
numpy = "*"
opencv-python = "*"
opencv-contrib-python = "*"
scipy = "*"
pillow = "*"

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "uvicorn app.main:app --reload"
start = "gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app"
test = "pytest"
